@import '../../Custom_Library/Scss_Functions/functions'; // My Scss library 
$primaryColor:rgba(240, 201, 28, 0.87);
$widthNavBar:20%; // width of NavBar on big screen
$mainpageWidth:100% - 20%;
$linkFontSize:20px;
body {
    margin: 0;
    .navBar {
        width: $widthNavBar;
        height: 100vh;
        position: fixed;
        background-color: rgb(240, 240, 240);
        z-index: 1;
        .logo {
            h2 {
                background-color: $primaryColor;
                padding: 15px;
                border-radius: 20px;
                font-size: 24px;
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                margin-top: 8px;
            }
            .fa {
                margin-top: 8px;
                font-size: 57px;
                position: absolute;
                display: none;
            }
        }
        .nav {
            a {
                color: black;
                font-size: $linkFontSize;
                &:hover {
                    background-color: $primaryColor;
                    color: white;
                    font-size: $linkFontSize + 5px;
                }
            }
        }
    }
    .main {
        width: $mainpageWidth;
        margin-left: $widthNavBar; // Pushing Right equal to nav bar
        .home {
            .carousel {
                .carousel-inner {
                    .carousel-caption {
                        color: white;
                        font-size: 20px;
                    }
                }
            }
            .detail {
                padding: 20px;
                background-color: $primaryColor;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 20px;
                color: white;
                .elem {
                    display: flex;
                    i {
                        font-size: 40px;
                        margin-right: 10px;
                    }
                    .text {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .about-us {
            margin-top: 5em;
            text-align: center;
            .block {
                display: grid;
                margin-top: 2em;
                grid-template-columns: auto auto;
                .images {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    padding: 2em;
                    p {
                        margin: 2em 0;
                    }
                    .btn {
                        background-color: $primaryColor;
                        border-color: $primaryColor;
                        font-size: 26px;
                    }
                }
            }
        }
        .about-us-2 {
            margin-top: 3em;
            .block {
                margin: 0;
            }
            .images {
                order: 2;
            }
            .text {
                background-color: rgb(63, 63, 63);
                color: white;
                padding: 2em;
                order: 1;
                ul {
                    li {
                        margin: 2em 0;
                    }
                }
            }
        }
        // Gallery block 
        .gallery {
            margin-top: 5em;
            text-align: center;
            .block {
                margin-top: 3em;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 20px;
                .elem {
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .text {
                        color: white;
                        @include center();
                        display: none;
                    }
                    &:hover {
                        img {
                            filter: brightness(30%);
                            cursor: pointer;
                        }
                        .text {
                            display: inline;
                        }
                    }
                }
            }
        }
        // Blog block
        .blog {
            margin-top: 5em;
            text-align: center;
            .card-deck {
                margin-top: 3em;
                max-width: 100%;
                margin-left: 0;
                .card {
                    margin: 1em 10px;
                    &:hover {
                        box-shadow: 0 0 20px rgb(65, 64, 64);
                    }
                    .card-body {
                        a {
                            background-color: $primaryColor;
                            border-color: $primaryColor;
                        }
                    }
                }
            }
        }
        // Contact
        .contact {
            margin-top: 5em;
            background-color: $primaryColor;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 20px;
            padding: 20px;
            form {
                background-color: white;
                padding: 20px;
                .name-email {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 10px;
                }
                button {
                    float: right;
                    background-color: $primaryColor;
                    border-color: $primaryColor;
                    font-size: 22px;
                    padding: 10px 30px;
                }
            }
            .text {
                color: white;
                h2 {
                    text-align: center;
                    margin-bottom: 2em;
                }
                h5 {
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}

// For only blog block (Width=1024)==>Later solve this issue 
@media screen and (max-width:1024px) {
    body {
        .main {
            .blog {
                .block {
                    grid-template-columns: auto auto;
                    grid-gap: 10px;
                }
            }
        }
    }
}

// For Tablet (Width = 768px)
@media screen and (max-width:768px) {
    body {
        .navBar {
            width: 100%;
            height: auto;
            position: relative;
            .logo {
                h2 {
                    left: 20px;
                    position: relative;
                    transform: translateX(0);
                }
                .fa {
                    right: 20px;
                    display: inline;
                }
                .fa-times {
                    display: none;
                }
            }
            .nav {
                display: none;
            }
        }
        .main {
            margin-left: 0;
            width: 100%;
            .home {
                .detail {
                    grid-template-columns: auto auto;
                }
            }
            .about-us {
                .block {
                    grid-template-columns: auto;
                }
            }
            .gallery {
                .block {
                    grid-template-columns: auto auto;
                }
            }
            .blog {
                .card-deck {
                    .card {
                        margin: 1em auto;
                    }
                }
            }
            .contact {
                grid-template-columns: auto;
            }
        }
    }
}

// For Mobiles (Width = 425px)
@media screen and (max-width:425px) {
    body {
        .navBar {
            .logo {
                h2 {
                    font-size: 16px;
                }
                .fa {
                    font-size: 50px;
                }
            }
        }
        .main {
            .home {
                .detail {
                    grid-template-columns: auto;
                }
            }
            .gallery {
                .block {
                    grid-template-columns: auto;
                }
            }
        }
    }
}