body {
  margin: 0;
}

body .navBar {
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: #f0f0f0;
}

body .navBar h2 {
  background-color: rgba(240, 201, 28, 0.87);
  padding: 15px;
  border-radius: 20px;
  font-size: 24px;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
}

body .navBar .nav a {
  color: black;
}

body .main {
  width: 80%;
  margin-left: 20%;
}

body .main .home .detail {
  padding: 20px;
  background-color: rgba(240, 201, 28, 0.87);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

body .main .home .detail .elem .text p {
  font-size: 15px;
}

body .main .about-us {
  display: -ms-grid;
  display: grid;
  margin-top: 5em;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

body .main .about-us .images img {
  width: 100%;
  height: auto;
}

body .main .about-us .block {
  margin: 5px 20px;
}

body .main .about-us .text p {
  margin: 2em 0;
}

body .main .about-us .text .btn {
  background-color: rgba(240, 201, 28, 0.87);
  border-color: rgba(240, 201, 28, 0.87);
  font-size: 26px;
}

body .main .about-us-2 .block {
  margin: 0;
}

body .main .about-us-2 .text {
  background-color: #3f3f3f;
  color: white;
  padding: 2em;
}

body .main .about-us-2 .text ul li {
  margin: 2em 0;
}

body .main .gallery {
  margin-top: 5em;
  text-align: center;
}

body .main .gallery .block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

body .main .gallery .block .elem {
  position: relative;
}

body .main .gallery .block .elem img {
  width: 100%;
  height: auto;
}

body .main .gallery .block .elem .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

body .main .gallery .block .elem:hover img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  cursor: pointer;
}

body .main .gallery .block .elem:hover .text {
  display: inline;
}

body .main .blog {
  text-align: center;
  margin: 5em;
}

body .main .blog .block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

body .main .blog .block .card:hover {
  -webkit-box-shadow: 0 0 20px #414040;
          box-shadow: 0 0 20px #414040;
}

body .main .blog .block .card .card-body a {
  background-color: rgba(240, 201, 28, 0.87);
  border-color: rgba(240, 201, 28, 0.87);
}

body .main .contact {
  background-color: rgba(240, 201, 28, 0.87);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
}

body .main .contact form {
  background-color: white;
  padding: 20px;
}

body .main .contact form .name-email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
}

body .main .contact form button {
  float: right;
  background-color: rgba(240, 201, 28, 0.87);
  border-color: rgba(240, 201, 28, 0.87);
  font-size: 22px;
  padding: 10px 30px;
}

body .main .contact .text {
  color: white;
}

body .main .contact .text h2 {
  text-align: center;
  margin-bottom: 2em;
}

body .main .contact .text h5 {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  body .navBar {
    width: 100%;
    height: 100vh;
    position: relative;
    height: auto;
  }
  body .navBar h2 {
    left: 20px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .navBar .nav {
    display: none;
  }
  body .main {
    margin-left: 0;
    width: 100%;
  }
  body .main .home .detail {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  body .main .about-us {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .gallery .block {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  body .main .blog .block {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  body .main .contact {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 425px) {
  body .main {
    margin-left: 0;
    width: 100%;
  }
  body .main .home .detail {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .gallery .block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .blog .block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */